/* line 4, /Users/brentvatne/.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, /Users/brentvatne/.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, /Users/brentvatne/.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, /Users/brentvatne/.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, /Users/brentvatne/.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, /Users/brentvatne/.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, /Users/brentvatne/.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, /Users/brentvatne/.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 37, ../sass/screen.scss */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 18px;
  font-size: 13px;
  color: #444444;
}

/* line 44, ../sass/screen.scss */
.inside {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 48, ../sass/screen.scss */
header {
  height: 59px;
  background-image: url("../images/bg_header.gif");
  margin-bottom: 0px;
  color: white;
}
/* line 54, ../sass/screen.scss */
header div#logo {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
  line-height: 20px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 19px;
  padding-bottom: 19px;
  font-size: 20px;
  font-weight: bold;
}
/* line 147, /Users/brentvatne/.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html header div#logo {
  overflow-x: hidden;
}
/* line 62, ../sass/screen.scss */
header nav#main-navigation {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 510px;
}
/* line 147, /Users/brentvatne/.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html header nav#main-navigation {
  overflow-x: hidden;
}
/* line 65, ../sass/screen.scss */
header nav#account-links {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
/* line 147, /Users/brentvatne/.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html header nav#account-links {
  overflow-x: hidden;
}
/* line 67, ../sass/screen.scss */
header nav#account-links ul {
  float: right;
}
/* line 71, ../sass/screen.scss */
header ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 73, ../sass/screen.scss */
header ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, /Users/brentvatne/.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header ul li:first-child, header ul li.first {
  padding-left: 0;
}
/* line 49, /Users/brentvatne/.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header ul li:last-child {
  padding-right: 0;
}
/* line 50, /Users/brentvatne/.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header ul li.last {
  padding-right: 0;
}
/* line 75, ../sass/screen.scss */
header ul li a {
  line-height: 15px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 22px;
  padding-bottom: 22px;
  font-size: 15px;
  text-decoration: none;
  color: white;
  display: block;
}
/* line 81, ../sass/screen.scss */
header ul li a:hover {
  background: url("../images/bg_hover_header.jpg");
}

/* line 90, ../sass/screen.scss */
#page-wrap #left-sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
}
/* line 147, /Users/brentvatne/.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #page-wrap #left-sidebar {
  overflow-x: hidden;
}
/* line 93, ../sass/screen.scss */
#page-wrap #left-sidebar #sidebar-nav {
  width: 191px;
  background: url("../images/bg_side_nav.png") no-repeat;
}
/* line 99, ../sass/screen.scss */
#page-wrap #left-sidebar #sidebar-nav ul {
  padding-top: 50px;
  border-bottom: 1px solid #ccc;
}
/* line 102, ../sass/screen.scss */
#page-wrap #left-sidebar #sidebar-nav ul li {
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px solid #ccc;
}
/* line 106, ../sass/screen.scss */
#page-wrap #left-sidebar #sidebar-nav ul li.active {
  background-color: white;
}
/* line 115, ../sass/screen.scss */
#page-wrap #main-content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
/* line 147, /Users/brentvatne/.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #page-wrap #main-content {
  overflow-x: hidden;
}
/* line 119, ../sass/screen.scss */
#page-wrap #supporting-content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
/* line 147, /Users/brentvatne/.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #page-wrap #supporting-content {
  overflow-x: hidden;
}
/* line 123, ../sass/screen.scss */
#page-wrap aside#free-trial-offer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, /Users/brentvatne/.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #page-wrap aside#free-trial-offer {
  overflow-x: hidden;
}
